# Import Tweet Data

In [91]:
import pandas as pd
import pickle

# with open("TwitterKeys.txt", "rb") as SaveFile:
#     ReadData = pickle.load(file=SaveFile)
# from twython import Twython
# TwitterStream = Twython(ReadData["ConsumerKey"],ReadData["ConsumerSecret"])
# TwitterData = TwitterStream.search(q="data science -filter:retweets AND -filter:replies", count=20, tweet_mode = "extended")

In [ ]:
# Temporarily load tweet data from saved file to keep debug and testing consistent
with open("TwitterRawData.txt", "rb") as SaveFile:
    TwitterData = pd.DataFrame(pickle.load(file=SaveFile)["statuses"])[["id", "full_text"]]

In [92]:
TwitterData.head()

                    id                                          full_text
0  1219667475710849024  Congratulations to Ashwani Dev, Director, Digi...
1  1219667319322042372  We believe Earth systems science is a key to c...
2  1219667296416944129  A empresa de data science entra em contato dep...
3  1219667248404750336  Genomics are a hot topic in the science and me...
4  1219667136727191552  We're #recuriting for the role of 'Director of...

In [4]:
TwitterData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
id           20 non-null int64
full_text    20 non-null object
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes

In [5]:
TwitterData["full_text"].apply(len).describe()

count     20.000000
mean     166.550000
std       76.239564
min       76.000000
25%      100.750000
50%      142.000000
75%      234.750000
max      304.000000
Name: full_text, dtype: float64

# Clean Data

In [6]:
import re

In [7]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     testData = TwitterData.copy()
#     testData[0] = testData[0] + " something@email.com"
#     HashTags = list()
#     for rowIndex in range(len(testData)):
#         print("========================\n")
#         print(str.format("Tweet {0}:\n", str(rowIndex)))
#         print("-----------------------------------------------\n")
#         print(testData[rowIndex], "\n")
#         print("-----------------------------------------------\n")
#         #print(re.sub(string = testData[rowIndex], pattern = "\b?[a-zA-Z0-9\.\_\%\+\-]*@[a-zA-Z0-9\.\-\_]+\b?", repl = ""), "\n")
#         hashTags = re.findall(string = testData[rowIndex], pattern = r"\#\w+\b")
#         if hashTags:
#             print("Found #: ", hashTags)
#             HashTags.append(hashTags)
#         else:
#             HashTags.append(list())
#         print("===============================================\n")
#     print(HashTags)

In [8]:
# testData = pd.DataFrame()
# testData["full_text"] = TwitterData.copy()
# testData

In [9]:
import html

# Convert html encoded special characters to usable format
TwitterData["full_text"] = TwitterData["full_text"].apply(lambda x: html.unescape(x))

print(TwitterData["full_text"])

0     New Closter show announcement! Data Science No...
1     Data science career advice from Shaun Wheeler ...
2     Nice review on #infections in #hemodialysis pa...
3     The Bay Area Air Quality Management District a...
4     "The archaeological evidence from Moscerini su...
5     𝐅𝐄𝐀𝐓𝐔𝐑𝐄𝐃 𝐂𝐎𝐔𝐑𝐒𝐄𝐒\n\nThe #Data #Science #Course...
6     data science with python online training, Plot...
7     Galaxy Brain: Data Science Workflows with Pref...
8     Practical Ways to Integrate Data Science Into ...
9     More Ethical and Empowering Data Science | MIT...
10    Level up your data science vocabulary: Linearl...
11    “Smarter Pricing for Airbnb Using Machine Lear...
12    Methods of Study Design – Experiments https://...
13    Our Data Science training will guide you step ...
14    On 1/22 in #Chicago, learn from Kyle Chard, Re...
15    Data Science on R By OrangeTree Global https:/...
16    We've changed the #algorithm https://t.co/DT9s...
17    Which Data Science Skills are core and which a...
18    Password and hijacked email dataset for you to...
19    Going to the Big Bang Data Science & Analytics...
Name: full_text, dtype: object

In [10]:
# Drop URI's completely.
TwitterData["full_text"] = TwitterData["full_text"].apply(lambda x: re.sub(string = x, pattern = "https\:\/\/[\w]+[.]?[\w]+?[\/\w]+\/*", repl = ""))

print(TwitterData["full_text"])

0     New Closter show announcement! Data Science No...
1     Data science career advice from Shaun Wheeler ...
2     Nice review on #infections in #hemodialysis pa...
3     The Bay Area Air Quality Management District a...
4     "The archaeological evidence from Moscerini su...
5     𝐅𝐄𝐀𝐓𝐔𝐑𝐄𝐃 𝐂𝐎𝐔𝐑𝐒𝐄𝐒\n\nThe #Data #Science #Course...
6     data science with python online training, Plot...
7     Galaxy Brain: Data Science Workflows with Pref...
8     Practical Ways to Integrate Data Science Into ...
9     More Ethical and Empowering Data Science | MIT...
10    Level up your data science vocabulary: Linearl...
11    “Smarter Pricing for Airbnb Using Machine Lear...
12              Methods of Study Design – Experiments
13    Our Data Science training will guide you step ...
14    On 1/22 in #Chicago, learn from Kyle Chard, Re...
15    Data Science on R By OrangeTree Global   #mach...
16                       We've changed the #algorithm
17    Which Data Science Skills are core and which a...
18    Password and hijacked email dataset for you to...
19    Going to the Big Bang Data Science & Analytics...
Name: full_text, dtype: object

In [11]:
# Extract hash tags to split later into constituent words
TwitterData["HashTags"] = TwitterData["full_text"].apply(lambda x: re.findall(string = x, pattern = r"\#\w+\b"))
    
print(TwitterData["HashTags"])

0                                                    []
1                                                    []
2     [#infections, #hemodialysis, #grafts, #IDTwitt...
3                                                    []
4                                          [#oceanhist]
5     [#Data, #Science, #Course, #Best, #Seller, #Tr...
6                                        [#bharatpages]
7                                        [#DataScience]
8                                        [#DataScience]
9                                        [#DataScience]
10               [#Vector, #LinearlyIndependentVectors]
11                                                   []
12                                                   []
13        [#datascience, #stayrelevantforever, #python]
14                                           [#Chicago]
15                              [#machinelearning, #ad]
16                                         [#algorithm]
17    [#ArtificialIntelligence, #MachineLearning, #D...
18                                                   []
19                                                   []
Name: HashTags, dtype: object

In [12]:
# Converts hashtags to plain words for later processing.
TwitterData["full_text"] = TwitterData["full_text"].apply(lambda x: re.sub(string = x, pattern = "[\#]*", repl = ""))

print(TwitterData["full_text"])

0     New Closter show announcement! Data Science No...
1     Data science career advice from Shaun Wheeler ...
2     Nice review on infections in hemodialysis pati...
3     The Bay Area Air Quality Management District a...
4     "The archaeological evidence from Moscerini su...
5     𝐅𝐄𝐀𝐓𝐔𝐑𝐄𝐃 𝐂𝐎𝐔𝐑𝐒𝐄𝐒\n\nThe Data Science Course 20...
6     data science with python online training, Plot...
7     Galaxy Brain: Data Science Workflows with Pref...
8     Practical Ways to Integrate Data Science Into ...
9     More Ethical and Empowering Data Science | MIT...
10    Level up your data science vocabulary: Linearl...
11    “Smarter Pricing for Airbnb Using Machine Lear...
12              Methods of Study Design – Experiments
13    Our Data Science training will guide you step ...
14    On 1/22 in Chicago, learn from Kyle Chard, Res...
15    Data Science on R By OrangeTree Global   machi...
16                        We've changed the algorithm
17    Which Data Science Skills are core and which a...
18    Password and hijacked email dataset for you to...
19    Going to the Big Bang Data Science & Analytics...
Name: full_text, dtype: object

In [13]:
# Remove emails and @user
TwitterData["full_text"] = TwitterData["full_text"].apply(lambda x: re.sub(string = x, pattern = "\b?[a-zA-Z0-9\.\_\%\+\-]*@[a-zA-Z0-9\.\-\_]+\b?", repl = ""))
print(TwitterData)

                     id                                          full_text  \
0   1217601537716957184  New Closter show announcement! Data Science No...
1   1217601407831937026  Data science career advice from Shaun Wheeler ...
2   1217601129028050944  Nice review on infections in hemodialysis pati...
3   1217601125022674944  The Bay Area Air Quality Management District a...
4   1217599748141670401  "The archaeological evidence from Moscerini su...
5   1217599556621422592  𝐅𝐄𝐀𝐓𝐔𝐑𝐄𝐃 𝐂𝐎𝐔𝐑𝐒𝐄𝐒\n\nThe Data Science Course 20...
6   1217599535385628672  data science with python online training, Plot...
7   1217599399221694464  Galaxy Brain: Data Science Workflows with Pref...
8   1217599398173081600  Practical Ways to Integrate Data Science Into ...
9   1217599396910596097  More Ethical and Empowering Data Science | MIT...
10  1217599126759563264  Level up your data science vocabulary: Linearl...
11  1217598565608054787  “Smarter Pricing for Airbnb Using Machine Lear...
12  1217598398335016961            Methods of Study Design – Experiments
13  1217597856363745280  Our Data Science training will guide you step ...
14  1217597380117377026  On 1/22 in Chicago, learn from Kyle Chard, Res...
15  1217597371359670272  Data Science on R By OrangeTree Global   machi...
16  1217597345954770947                      We've changed the algorithm
17  1217597086797127680  Which Data Science Skills are core and which a...
18  1217597083529678848  Password and hijacked email dataset for you to...
19  1217596588375400450  Going to the Big Bang Data Science & Analytics...

                                             HashTags
0                                                  []
1                                                  []
2   [#infections, #hemodialysis, #grafts, #IDTwitt...
3                                                  []
4                                        [#oceanhist]
5   [#Data, #Science, #Course, #Best, #Seller, #Tr...
6                                      [#bharatpages]
7                                      [#DataScience]
8                                      [#DataScience]
9                                      [#DataScience]
10             [#Vector, #LinearlyIndependentVectors]
11                                                 []
12                                                 []
13      [#datascience, #stayrelevantforever, #python]
14                                         [#Chicago]
15                            [#machinelearning, #ad]
16                                       [#algorithm]
17  [#ArtificialIntelligence, #MachineLearning, #D...
18                                                 []
19                                                 []

In [14]:
# Separate compound words (e.g. Hashtags as sentences)


#print(testData["full_text"])

# #testData["HashTags"] = HashTags
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     for rowIndex in range(len(testData)):
#         print(testData[rowIndex], "\n")
#         print("-----------")

# testData = pd.concat([testData, pd.Series(HashTags).rename("HashTags")], axis = 1)

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     for rowIndex in range(len(testData)):
#         print(testData[rowIndex], "\n")
#         print("-----------")
print(TwitterData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
id           20 non-null int64
full_text    20 non-null object
HashTags     20 non-null object
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes
None

In [15]:
import nltk
#nltk.download("punkt")
#nltk.download('averaged_perceptron_tagger')
#nltk.download('tagsets')
#nltk.download("wordnet")
#nltk.help.upenn_tagset()

In [16]:
# Set all text to lowercase to simply processing
TwitterData["full_text"] = TwitterData["full_text"].str.lower()

#### Extract and normalize contractions and abbreviations

#### Correct mispellings

***
***

In [17]:
import pickle
with open("TwitterTextData.txt", "wb") as SaveFile:
    pickle.dump(TwitterData, file=SaveFile)

# Calculate Sentiment with TextBlob

In [ ]:
#!pip install --trusted-host pypi.python.org textblob

In [23]:
import pickle
import pandas as pd
with open("TwitterTextData.txt", "rb") as SaveFile:
    TwitterData = pd.DataFrame(pickle.load(SaveFile))

TwitterData.head()

,id,full_text,HashTags
0,1217601537716957184,new closter show announcement! data science no...,[]
1,1217601407831937026,data science career advice from shaun wheeler ...,[]
2,1217601129028050944,nice review on infections in hemodialysis pati...,"[#infections, #hemodialysis, #grafts, #IDTwitt..."
3,1217601125022674944,the bay area air quality management district a...,[]
4,1217599748141670401,"""the archaeological evidence from moscerini su...",[#oceanhist]

                     id  polarity  subjectivity
0   1217601537716957184  0.102273      0.318182
1   1217601407831937026  0.100000      0.150000
2   1217601129028050944 -0.043750      0.531250
3   1217601125022674944  0.500000      0.500000
4   1217599748141670401  0.050000      0.150000
5   1217599556621422592  0.320000      0.420000
6   1217599535385628672  0.166667      0.333333
7   1217599399221694464  0.000000      0.000000
8   1217599398173081600  0.000000      0.000000
9   1217599396910596097  0.233333      0.366667
10  1217599126759563264  0.000000      0.125000
11  1217598565608054787  0.000000      0.000000
12  1217598398335016961  0.000000      0.000000
13  1217597856363745280  0.318182      0.477273
14  1217597380117377026  0.000000      0.000000
15  1217597371359670272  0.000000      0.000000
16  1217597345954770947  0.000000      0.000000
17  1217597086797127680  0.000000      0.000000
18  1217597083529678848  0.000000      0.000000
19  1217596588375400450  0.000000      0.100000

In [76]:
from textblob import TextBlob
import numpy as np
SentimentData = pd.concat([
    TwitterData["id"],
    pd.DataFrame(
        columns = ["TextBlobPolarity", "TextBlobSentiment"],
        data = [TextBlob(x).sentiment for x in TwitterData["full_text"]],
    )
], axis = 1)

In [77]:
SentimentData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
id                   20 non-null int64
TextBlobPolarity     20 non-null float64
TextBlobSentiment    20 non-null float64
dtypes: float64(2), int64(1)
memory usage: 608.0 bytes

In [78]:
SentimentData.head()

                    id  TextBlobPolarity  TextBlobSentiment
0  1217601537716957184          0.102273           0.318182
1  1217601407831937026          0.100000           0.150000
2  1217601129028050944         -0.043750           0.531250
3  1217601125022674944          0.500000           0.500000
4  1217599748141670401          0.050000           0.150000

#### Extract and lemmatize words

In [ ]:
#from nltk.stem import RegexpStemmer
#stemmer = nltk.stem.RegexpStemmer("ing")
#from nltk.stem import WordNetLemmatizer
Lemmatizer = nltk.stem.WordNetLemmatizer()

In [ ]:
TokenLemmaMapping = pd.DataFrame({
    "Token" : ["v"],
    "Lemma" : ["n"],
})
print(TwitterData["full_text"][0])
print(Lemmatizer.lemmatize(TwitterData["full_text"][0].split()[24], pos = "v"))

In [ ]:
TokenLemmaMapping

In [ ]:
TokenLemmaMapping["v"]

#### Extract and tag parts of speech.

In [ ]:
nltk.pos_tag(nltk.word_tokenize(TwitterData["full_text"][0]))

#### Calculate average polarity of adjectives